---
layout: base.njk
title: Mentions légales
description: "Mentions légales du site d'Erwan Badir, designer graphique et directeur artistique."
bodyClass: page-infos
permalink: /mentions-legales/
---
<div class="infos">
  <h1 class="infos__h">Mentions légales</h1>
  <p class="mentions__body">{{ infos.legal }}</p>
</div>
